$dark-gray: #212529;

html {
    font-size: 62.5%;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}

.modal-open {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba($color: #000000, $alpha: 0.91);
    left: 0%;
    top: 0%;
}

.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 3vh;
}

.navbar-link {
    color: #fff;
    font-size: 3.6rem;
    font-weight: 900;
    text-transform: uppercase;
    white-space: pre-wrap;
}

.navbar-link:hover {
    color: #91A7FF;
}

nav {
    padding-top: 2rem;
    position: fixed;
    top: 0; 
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

.hero {
    background: $dark-gray;
    height: 100vh;
    color: white;
}

.logo {
    font-weight: 900;
    font-size: 3.2rem;
}

.navbar-toggler {
    align-self: center;
}

.full-height {
    height: 100vh;
}

.hero-row {
    height: 100%;
}

.hero-text h1 {
    font-size: 6rem;
    font-weight: 900;
}

.hero-text p {
    font-size: 2rem;
}

.hero-text header, .hero-text p {
    margin: 3.4rem 0;
}

.about-me-button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    font-size: 1.6rem;
}

.my-picture {
    display: inline;
}

.brand-icon {
    font-size: 2.2rem;
    display: block;
}

.brand-icon-phone {
    font-size: 2.2rem;
    display: block;
}

.img-fluid {
    min-width: 0;
}

.brand-icons {
    margin: auto 0 auto 5rem;
}

.brand-icons-phone {
    margin-top: 3.4rem;
}

.brand-icon-phone {
    margin: 0 1.0rem;
}